/* Responsive Design */
@media (max-width: 780px) {
    nav ul {
        display: none;
    }

    .openMenu {
        display: block;
    }

    #contact-form {
        width: 80%;
    }

    #home {
        flex-direction: column;
        text-align: center;
    }

    .intro-text {
        max-width: 50%;
        margin-left: -12px;
    }

    /* .img-ctn {
        margin-left: 0;
        margin-top: 20px;
    } */
    
    .about-content {
        flex-direction: column;
        text-align: center;
    }
    
    .about-text {
        max-width: 100%;
        padding-left: 0;
        margin-top: 20px;
    }
    
    /* .img-ctn {
        margin-left: -12px;
        margin-top: 20px;
    } */

 
/* Desktop menu styles */
@media (min-width: 700px) {
    .menuToggle {
      display: none; 
    }
  
    .mainMenu {
      display: flex; 
      flex-direction: row;
      position: static;
      width: auto;
      background-color: transparent;
      padding: 0;
    }
  
    .mainMenu li {
      margin-left: 20px;
    }
    }
}