/* Responsive Design */
@media (max-width: 700px) {
    
    body {
        font-size: 14px;
        max-width: 90%;
    }

    h1 {
        font-size: 24px;
    }

    h2 {
        font-size: 20px;
    }

    
    nav ul {
        display: none;
        align-items: center;
        font-size: 20px;
        
    }

    .openMenu {
        display: block;
        
    }

    .menuToggle {
        display: block;
       
    }

   
    #home {
        flex-direction: column;
        text-align: center;
    }

    .home-content {
        flex-direction: column;
    }

    .intro-text {
        max-width: 100%;
        margin-left: 0;
        order: 2;
    }

    .img-ctn {
        margin: 0 auto 20px;
        order: 1; 
    }

    .img-ctn img {
        width: 200px; 
    }

   
    .about-content {
        flex-direction: column;
        text-align: center;
    }

    .about-text {
        max-width: 80%;
        padding-left: 0;
        margin-top: 20px;
        order: 2; 
        font-size: 18px;
        padding: 25px;
    }

    
    #contact-form {
        width: 90%;
    }

    
    .mainMenu {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 60px;
        left: 0;
        width: 100%;
        background-color: #6b504d;
        padding: 20px;
    }

    .mainMenu.active {
        display: flex;
    }

    .mainMenu li {
        margin: 10px 0;
    }
}